* {
	box-sizing: border-box;
	margin: 25px;
	border: 0;
	padding: 0;
	color: black;
}

body{
	background: #bada55;
}

a:link, a:visited{
	color: black;
	font-style: normal;
	text-decoration: none;
}

#header {
	display: flex;
	justify-content: space-between;
	margin: 0px;
}
#homepageLink {
	font-family: Poppins Semi Bold, sans-serif;
	font-weight: bold;
	font-size: 25px;
}


.headerLink {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 14px;
}